<!DOCTYPE html>
<html>
    <head>
        <title>detalhar-viagens</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>
        <header th:insert="navbar.html"></header> 
        
        <div class="container mt-3">       
            <div class="row justify-content-center">
                <h2>Detalhes das Viagens</h2>
                                
                <table class="table"> 
                          <thead class="table-primary"> 
                                    <tr > 
                                            <th>ID</th> 
                                            <th>Viajante(s)</th>
                                        <th>Destino</th> 
                                            <th>Período</th>
                                        <th>Estação</th>
                                        <th>Fotos</th>
                                        <th>Vídeos</th>
                                        <th>Avaliação</th>
                                        <th>Resenha</th>
                                        <th>Operações</th>
                                        </tr> 
                                </thead> 
                            <tbody> 
                                    <tr th:each="viagem : ${lista}"> 
                                            <td th:text="${viagem.id}"></td> 
                                            <td th:text="${viagem.viajantes}"></td>
                                        <td th:text="${viagem.destino}"></td>
                                        <td th:text="${viagem.periodo}"></td>
                                        <td th:text="${viagem.estacao}"></td>
                                        <td th:text="${viagem.fotos}"></td>
                                        <td th:text="${viagem.videos}"></td>
                                        <td th:text="${viagem.avaliacao}"></td>
                                        <td th:text="${viagem.resenha}"></td>
                                        <td>                                            
                                            <a th:href="@{'/alterar-viagem?id=' + ${viagem.id}}">Alterar</a>
                                            <br>
                                            <a th:href="@{'/excluir?id=' + ${viagem.id}}">Excluir</a>
                                        </td>
                                        </td>
                                 </tr>                                          
                                </tbody> 
                        </table>                    
            </div>
        </div>        
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    
    </body>
</html>
